@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@700&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ECECED;
    height: 1080px;
}

/*===== Header menu =====*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-left: 50px;
    margin-right: 50px;

}
header .menu ul{
    display: flex;
    gap: 50px;

}
header .menu ul li{
    list-style: none;
}
header .menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.bag-logo{
    width: 34px;
    height: 34px;
}
.searchbar{
    margin-top: 10px;
    width: 220px;
    height: 35px;
    left: 1046px;
    top: 42px;
    background: #FFFFFF;
}
input{
    background: url(images/icon-search.svg);
    background-repeat:no-repeat;
    width: 220px;
    height: 35px;
}
/*===== Header menu =====*/

/*===== Aside Title =====*/
.box{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 50px;
    height: 500px;
    width: 400px;
}
.title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 500px;    
}
.t1, .t2, .t3, .t4{
    font-size: 66px;
    
}
.t1{
    margin-right: 210px;
}
.t2{
    margin-right: 90px; 
}
.t4{
    margin-right: 260px;
}
.t5{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;
}
/*===== Aside Title =====*/


/*===== Box price =====*/
.boxprice{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 500px;
    margin-top: 460px;
    margin-left: 45px;
}
.price{
    position: absolute;
    width: 500px;
    height: 100px;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    margin-bottom: 270px;
}
.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 100px;
    width: 274px;
    margin-top: 15px;
    margin-right: 170px;
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    background-color: red;
    color: #ECECED;
}
/*===== Box price =====*/

/*===== Main contents =====*/
.main-img{
    background-color: #C4C4C4;
    margin-left: 500px;
    width: 840px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #C4C4C4;
    margin-left: 500px;
    width: 840px;
    height: 350px;
}
/*===== Main contents =====*/